<header id="header">
    <div id="color">
        <a id="color-blue"   (click)="selectColor(C.blue)"></a>
        <a id="color-red"    (click)="selectColor(C.red)"></a>
        <a id="color-yellow" (click)="selectColor(C.yellow)"></a>
        <a id="color-green"  (click)="selectColor(C.green)"></a>
        <a id="color-pink"   (click)="selectColor(C.pink)"></a>
        <a id="color-orange" (click)="selectColor(C.orange)"></a>
        <a id="color-purple" (click)="selectColor(C.purple)"></a>
        <a id="color-black"  (click)="selectColor(C.black)"></a>
    </div>
    <div id="tools">
        <a id="tool-pen"      (click)="selectTool(T.pen)"><img src="assets/pen.png"></a>
        <a id="tool-eraser"   (click)="selectTool(T.eraser)"><img src="assets/eraser.png"></a>
        <a id="tool-line"     (click)="selectTool(T.line)"><img src="assets/line.png"></a>
        <a id="tool-arrow"    (click)="selectTool(T.arrow)"><img src="assets/arrow.png"></a>
        <a id="tool-rectangle"(click)="selectTool(T.rectangle)"><img src="assets/rectangle.png"></a>
        <a id="tool-circle"   (click)="selectTool(T.circle)"><img src="assets/circle.png"></a>
        <a id="tool-math"     (click)="selectTool(T.math)"><img src="assets/math.png"></a>
    </div>
    <div id="style">
        <a id="style-very-thin" (click)="selectStyle(S.veryThin)"><div></div></a>
        <a id="style-thin"     (click)="selectStyle(S.thin)"><div></div></a>
        <a id="style-medium"   (click)="selectStyle(S.medium)"><div></div></a>
        <a id="style-thick"    (click)="selectStyle(S.thick)"><div></div></a>
        <a id="style-very-thick"(click)="selectStyle(S.veryThick)"><div></div></a>

        <a id="style-transparency"(click)="toggleTransparency()"><img src="assets/transparent.svg"></a>
        <a *ngIf="!this.typeMath" id="style-dashed"(click)="toggleDashed()"><img src="assets/dashed.png"></a>
    </div>
</header>
<header id="mathfield-header" [ngClass]="{'hidden': !typeMath}">
    <div id="mathfield">

    </div>
    <a class="btn-valid material-icons" (click)="validMath()" style="font-weight: bold;">done</a>
</header>
<div id="canvas" (window:resize)="onResize($event)">
    <!-- detect click pressed released and mouse move -->
    <div id="background"></div>
    <svg id="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1000 1000"
        (mousedown)="mouseDown($event)"
        (mouseup)="mouseUp($event)"
        (mousemove)="mouseMove($event)"
        (focusout)="focusOut($event)"
        (contextmenu)="contextMenu($event)"
    >
        
    </svg>

    <div id="keyboard">

    </div>
</div>

