/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    position: relative;
    overflow: hidden;

}



.material-icons{
    // font-size: inherit !important;
    // font-weight: bold;
}

.material-icons-outlined{
    // font-size: inherit !important;
    // // font-weight: bold;
}

app-board{
    position: relative;
}

svg{
    user-select: none;
}

@media not (pointer: coarse) {
    math-field::part(virtual-keyboard-toggle) {
      display: none;
    }
  }

